################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Logger Viewer/bin/Debug
/WizzAir Checker/obj/Debug
/Logger Viewer/obj/Debug
/WizzAir Checker/bin/Debug
/.vs/WizzAir Checker/v16
