<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <!-- Time to wait between wizzAir checkings (in seconds)-->
    <add key="WaitTime" value="180"/> <!-- 3 minutes -->

    <!-- Time to wait between clearing all Ie data (in minutes)-->
    <add key="ClearAllIeDataTime" value="0"/> <!-- 2 hours -->

    <!--Mail user-->
    <add key="MailUser" value="bssuser001@gmail.com"/>
    <!--Mail password-->
    <add key="MailPassword" value="123123456q"/>
    <!--Mail Users sent to-->
    <add key="MailUsers" value="p.enascut@software-dep.net"/>
  </appSettings>
</configuration>
